name: ci

on:
  pull_request:
    branches:
      - '**'

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.7.0
    with:
      go-version: '1.23'
      go-lint-version: 'v1.60.2'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      run-build: true
      run-gosec: true
      gosec-args: "-exclude-generated -exclude-dir=itest -exclude-dir=testutil ./..."

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.7.0
    secrets: inherit
    with:
      publish: false
      dockerfile: ./Dockerfile
      repoName: finality-provider
