name: docker_publish

on:
  push:
    branches:
      - 'main'
      - 'base/consumer-chain-support'
      - 'chore/base-publish-docker'
    tags:
      - '*'

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.7.0
    with:
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      run-build: true
      run-gosec: true
      gosec-args: "-exclude-generated -exclude-dir=itest -exclude-dir=testutil ./..."

  docker_pipeline:
    needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.7.0
    secrets: inherit
    with:
      publish: true
      dockerfile: ./Dockerfile
      repoName: finality-provider
